@font-face {
    font-family: 'NorthDragon';
    src: url('../fonts/NorthDragon.eot'); /* IE9 Compat Modes */
    src: url('..fonts/North Dragon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    src: url('../fonts/NorthDragon.woff') format('woff'), /* Modern Browsers */
         url('../fonts/NorthDragon.ttf') format('truetype'); /* Safari, Android, iOS */
    src: url('../fonts/NorthDragon.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

body {
    font-family: 'NorthDragon'
}

.main {
    background-image: url('../img/background_01.jpg');
    height: 100vh;
    background-size: 100% 100%;
    background-color: rgba(0,0,0,0.25);
    background-repeat: repeat;
}

.blur {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8px);
  height: 100vh;
}    

.enstaved-dark {
  color: #232323;
}

.enstaved-secondary {
  color: #797A7C;
}

.enstaved-warning {
  color: #7B5C3D;
}

.enstaved-danger {
  color: #661010;
}

.enstaved-kickstarter {
  color: #05CE78;
}
