body {
    /*font-family: 'Aclonica', sans-serif;*/
    /*font-family: 'Almendra SC', serif;*/
    /*font-family: 'Berkshire Swash', cursive;*/
    font-family: 'Cinzel Decorative', cursive;
    /*font-family: 'Laila', sans-serif;*/
    /*font-family: 'Marcellus SC', serif;*/
}

.main {
    background-image: url('../img/background_01.jpg');
    height: 100vh;
    background-size: 100% 100%;
    background-color: rgba(0,0,0,0.25);
    background-repeat: repeat;
}

.scroll {
    background-image: url('../img/scroll_02.png');
    /*background-size: cover;*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.enstaved-dark {
  color: #232323;
}

.enstaved-secondary {
  color: #797A7C;
}

.enstaved-warning {
  color: #7B5C3D;
}

.enstaved-danger {
  color: #661010;
}
